In [ ]:
### Connect with the dataset in the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Set up

In [ ]:
import pandas as pd
import numpy as np
import re

# Load the dataset , in label BA = 1, DA =2, DS = 3

In [ ]:
ba = pd.read_csv('/content/drive/MyDrive/INFO 5100/INFO 5100 Project 3/Dataset/BusinessAnalyst.csv')

In [ ]:
# add the label column
ba['Position'] = 1

In [ ]:
ba.head()

   Unnamed: 0  index  ... Easy Apply Position
0           0      0  ...         -1        1
1           1      1  ...       TRUE        1
2           2      2  ...         -1        1
3           3      3  ...         -1        1
4           4      4  ...       TRUE        1

[5 rows x 18 columns]

In [ ]:
da = pd.read_csv('/content/drive/MyDrive/INFO 5100/INFO 5100 Project 3/Dataset/DataAnalyst.csv')

In [ ]:
# add the label column
da['Position'] = 2

In [ ]:
da.head()

   Unnamed: 0  ... Position
0           0  ...        2
1           1  ...        2
2           2  ...        2
3           3  ...        2
4           4  ...        2

[5 rows x 17 columns]

In [ ]:
ds = pd.read_csv('/content/drive/MyDrive/INFO 5100/INFO 5100 Project 3/Dataset/DataScientist.csv')

In [ ]:
# add the label column
ds['Position'] = 3

In [ ]:
ds.head()

   Unnamed: 0  index  ... Easy Apply Position
0           0      0  ...         -1        3
1           1      1  ...         -1        3
2           2      2  ...       True        3
3           3      3  ...         -1        3
4           4      4  ...         -1        3

[5 rows x 18 columns]

#Data Pre-processing

In [ ]:
print("ba:", ba.isnull().sum())
print("----")
print("da:" ,da.isnull().sum())
print("----")
print("ds:" ,ds.isnull().sum())

ba: Unnamed: 0           0
index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
Position             0
dtype: int64
----
da: Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
Position             0
dtype: int64
----
ds: Unnamed: 0           0
index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
Position             0
dtype: int64

In [ ]:
### Needed column names
col_names = ["Job Title",
"Salary Estimate",
"Job Description",
"Rating",
"Company Name",
"Location",
"Headquarters",
"Size",
"Founded",
"Type of ownership",
"Industry",
"Sector",
"Revenue",
"Competitors",
"Easy Apply",
"Position",]

In [ ]:
df = ba.loc[: , col_names].append(da.loc[: , col_names])
df = df.loc[:, col_names].append(ds.loc[: , col_names])

In [ ]:
df.reset_index(inplace = True ,drop= True)

In [ ]:
df.head()

                                          Job Title  ... Position
0  Business Analyst - Clinical & Logistics Platform  ...        1
1                                  Business Analyst  ...        1
2                                      Data Analyst  ...        1
3   Information Security Analyst, Incident Response  ...        1
4                     Analyst - FP&A Global Revenue  ...        1

[5 rows x 16 columns]

In [ ]:
### add the Hourly_pay in the dataset
df["Hourly_pay"] = 0

In [ ]:
### set the Hourly pay as 1
df.loc[df.loc[df['Salary Estimate'].str.contains('Per') == True].index, "Hourly_pay"] = 1

In [ ]:
jj = df['Salary Estimate'].str.split('-', n=1, expand=True)
tt = jj[0].str.replace('$', "")
tt = tt.str.replace('K', '000')
df['lower_salary'] = tt
tt = jj[1].str.replace('$', "")
tt = tt.str.replace('K\D+', '000', regex=True)
tt = tt.str.extract(r'(\d+)')
df['higher_salary'] = tt

In [ ]:
### same issue in Hourly Pay
df.loc[df['Hourly_pay'] == 1]

                                              Job Title  ... higher_salary
7030            Clinical Laboratory Scientist, Per Diem  ...            53
7031                                   Sr. Data Analyst  ...            53
7032       Lead Data Science Instructor, Data Scientist  ...            53
7033  Clinical Laboratory Scientist (Per Diem, Varia...  ...            53
7034                                      Data Engineer  ...            53
7035         Clinical Laboratory Scientist - Generalist  ...            53
7036           Clinical Laboratory Scientist , Med Tech  ...            53
7640                   Stafford Data Science Tutor Jobs  ...            26
7641                     Spring Data Science Tutor Jobs  ...            26
7642                 Sugar Land Data Science Tutor Jobs  ...            26
8469                            Laboratory Scientist II  ...            27
8470      Data Engineer - Top Secret w/ SCI Eligibility  ...            27
8471                               Biological Scientist  ...            27
8472                             TECHNICAL DATA ANALYST  ...            27
8473                   Environmental Scientist/Engineer  ...            27
8474               Data Analyst with Security Clearance  ...            27
8475  Associate Scientist, Process Development & Man...  ...            27
8476  Configuration Data Analyst, San Antonio, TX, U...  ...            27
8477                             Research Scientist III  ...            27
8478                               Senior Data Engineer  ...            27
8479  Lead of Cybersecurity Data Protection & Analytics  ...            27

[21 rows x 19 columns]

In [ ]:
### company name replace \n
df['Company Name'] = df['Company Name'].str.replace(r'\n\S+', '')

In [ ]:
### Location, HQ split into city and state
df['city'] = df['Location'].str.split(', ', n =1,  expand = True)[0]
df['state'] = df['Location'].str.split(', ', n =1,  expand = True)[1]
# df['HQ_city'] = df['Headquarters'].str.split(', ', n =1,  expand = True)[0]
# df['HQ_state'] = df['Headquarters'].str.split(', ', n =1,  expand = True)[1]

In [ ]:
#change state to full name
state_dict = {"AL":"Alabama", "AK":"Alaska", "AZ":"Arizona", "AR":"Arkansas", "CA":"California", "CO":"Colorado", "CT":"Connecticut", 
          "DC":"Washington DC", "DE":"Delaware", "FL":"Florida", "GA":"Georgia", "HI":"Hawaii", "ID":"Idaho", "IL":"Illinois", 
          "IN":"Indiana", "IA":"Iowa", "KS":"Kansas", "KY":"Kentucky", "LA":"Louisiana", "ME":"Maine", "MD":"Maryland",
          "MA":"Massachusetts", "MI":"Michigan", "MN":"Minnesota", "MS":"Mississippi", "MO":"Missouri", "MT":"Montana",
          "NE":"Nebraska", "NV":"Nevada", "NH":"New Hampshire", "NJ":"New Jersey", "NM":"New Mexico", "NY":"New York", 
          "NC":"North Carolina", "ND":"North Dakota", "OH":"Ohio", "OK":"Oklahoma", "OR":"Oregon", "PA":"Pennsylvania", 
          "RI":"Rhode Island", "SC":"South Carolina", "SD":"South Dakota", "TN":"Tennessee", "TX":"Texas", "UT":"Utah", "VT":"Vermont",
          "VA":"Virginia", "WA":"Washington", "WV":"West Virginia","WI":"Wisconsin", "WY":"Wyoming"}

In [ ]:
df['state_full'] = 1
for index, i in enumerate(df['state']):
  if i in state_dict:
    df['state_full'][index] = state_dict[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df.head()

                                          Job Title  ...  state_full
0  Business Analyst - Clinical & Logistics Platform  ...    New York
1                                  Business Analyst  ...    New York
2                                      Data Analyst  ...  New Jersey
3   Information Security Analyst, Incident Response  ...  New Jersey
4                     Analyst - FP&A Global Revenue  ...    New York

[5 rows x 22 columns]

In [ ]:
#filter rows
df.drop(axis = 1, index = df.loc[df['Hourly_pay'] == 1].index, inplace=True)

#filter columns
df.drop('Headquarters', axis=1, inplace=True)
df.drop('Job Description', axis=1, inplace=True)
df.drop('Competitors', axis=1, inplace=True)
df.drop('Easy Apply', axis=1, inplace=True)
df.drop('Industry', axis=1, inplace=True)
df.drop('Hourly_pay', axis=1, inplace=True)
df.drop('Revenue', axis=1, inplace=True)
df.drop('Location', axis=1, inplace=True)
df.drop('Salary Estimate', axis=1, inplace=True)

In [ ]:
df.drop(axis = 1, index = df.loc[df['Sector'] == '-1'].index, inplace=True)

In [ ]:
df.drop(axis = 1, index = df.loc[df['Size'] == '-1'].index, inplace=True)

In [ ]:
df.drop(axis = 1, index = df.loc[df['Size'] == 'Unknown'].index, inplace=True)

In [ ]:
df.drop(axis = 1, index = df.loc[df['higher_salary'] == '1'].index, inplace=True)

In [ ]:
df.drop(axis = 1, index = df.loc[df['state_full'] == 1].index, inplace=True)

In [ ]:
df.drop(axis = 1, index = df.loc[df['Type of ownership'] == 'Unknown'].index, inplace=True)

In [ ]:
df.drop(axis = 1, index = df.loc[df['Founded'] == -1].index, inplace=True)

In [ ]:
df.head()

                                          Job Title  Rating  ... state  state_full
0  Business Analyst - Clinical & Logistics Platform     3.9  ...    NY    New York
2                                      Data Analyst     3.6  ...    NJ  New Jersey
3   Information Security Analyst, Incident Response     3.6  ...    NJ  New Jersey
4                     Analyst - FP&A Global Revenue     3.4  ...    NY    New York
5                                      Data Analyst     3.4  ...    NJ  New Jersey

[5 rows x 13 columns]

In [ ]:
df.reset_index(inplace = True ,drop= True)

In [ ]:
a = df['state'].unique()
print(a)

['NY' 'NJ' 'CA' 'IL' 'TX' 'AZ' 'PA' 'DE' 'FL' 'UT' 'VA' 'OH' 'NC' 'SC'
 'IN' 'WA' 'GA' 'KS' 'CO']

In [ ]:
# from google.colab import files

# df.to_csv('df.csv')
# files.download('df.csv')